body {
	font-family: 'Courier';
    background-color: #FFD6DA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
	font-size: 40px;
    margin-bottom: 20px;
    color: #333333;
}

#message {
    font-size: 20px;
    color: #555555;
	margin-bottom: 20px;
}

.message-box {
	background-color: #ffffff;
	padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scrollable {
    max-height: 150px;
    overflow-y: auto;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#previous-messages h2 {
    margin-top: 20px;
    font-size: 16px;
    color: #333333;
	background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#messages-list {
    text-align: left;
    font-size: 14px;
    color: #777777;
    list-style: none;
    padding-left: 0;
	background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}