/*
color scheme
4A5D89: Dark Blue
829BC9: Light Blue
CED9ED: light light blue
72726D: Nickel
433F39: Black Olive
2F3130: Jet
*/

*{
	color: #72726D;
	font-family: 'Courier';
	background: #2F3130;
	font-size: 26px;
	text-align: center;
}

p{
	color: #829BC9;
}

h1{
	font-family: 'Georgia';
	color: white;
	font-size: 60px;
}

a{
	background: #829BC9;
	color: #433F39;
	text-decoration: none;
}

a:hover{
	background: #829BC9;
	color: #CED9ED;
	text-decoration: none;
}

.big-font{
	font-size: 90px;
}

.card {
	background: lightgray;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.container {
	border-radius: 25px;
	background: lightgray;
	padding: 2px 16px;
}

.card .container p{
	background: lightgray;
	color: #4A5D89;
}
.card .container h2 {
    background: lightgray;
	color: #829BC9;
}
.card .container a{
	background: lightgray;
	color: #433F39;
}
.card .container a:hover{
	color: #72726D;
}

#main-nav li {
	display: inline-block;
	font-size: 20px;
	margin: 40px;
	background: #829BC9;
}

#main-nav {
	z-index: 1;
	position: sticky;
	top: 0px;
	text-align: center;
	background: #829BC9;
	padding:0px;
	margin-top: 0px;
}

#active-nav{
	background: #829BC9;
	color: white;
	text-decoration: none;
}

.link{
	background: #2F3130; 
	color: #CED9ED;
	font-weight: bold;
}

.link:hover{
	background: #2F3130;
	color: white;
	text-decoration: none;
}

.hasmargin{
	margin-left: 120px;
	margin-right: 120px;
}
